<div class="col">
  <nav class="navbar p-3 mb-5 navbar-expand navbar-dark bg-dark">
    <h2 class="navbar-brand" href="/">TODO LIST</h2>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Pending tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/done">done tasks</a>
      </li>
    </ul>
  </nav>
</div>