.listTile{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inline{
    display: inline-block;
}

.navbar{
    color: white;
}

#footer{
    color: rgb(255, 255, 255);
}